h2 {
    color: #34e89e;
    font-style: unset;
    
}
body {
    background: #159957;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #155799, #159957);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #155799, #159957); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
text-align: center;
text-shadow: 6px 6px 15px #155799;


}
p {
    color: whitesmoke;
}
h1 {
    color: #021B79;
    font-size: 30px;
}
h3 {
    color: black;
    font-weight: 700;

}

ul {
    font-style: oblique;
}
a:hover {
    color: #f1f734;
    text-decoration: underline;
}

.fcc-btn {
    background-color: #159957;
    color: black;
    padding: 0,5px 5px;
    text-decoration: none;
    border-radius: 62% 38% 10% 90% / 69% 25% 75% 31% ;
}

.picture img {
    border-radius: 53% 47% 39% 61% / 32% 68% 32% 68% ;
    box-shadow: 6px 6px 15px #159957;
}

ul {
    font-size: 25px;
    box-align: center;
}
p {
    font-size: 25px;
}

ul { 
	list-style-type: none; 
	padding: 0; 
} 
li { 
	text-align: center; 
} 
li::before { 
	content: '• '; 
} 
